@model Sysnet.Models.PersonaClass

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PersonaClass</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.identificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.identificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipoIdentificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipoIdentificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.primerNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.primerNombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.segundoNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.segundoNombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.primerApellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.primerApellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.segundoApellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.segundoApellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ocupacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ocupacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaNacimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaNacimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.foto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.foto)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
